WAZYNC_ENABLED=false
WAZYNC_HTTP_ADDRESS=:8080
WAZYNC_DATABASE_URL='postgres://wazync:SUBSTITUA@postgres:5432/kontivehub?search_path=wazync&sslmode=disable'
WAZYNC_EVENT_INGEST_URL='http://nginx:8080/api/internal/v1/communication/gateway/events'
WAZYNC_MEDIA_SOURCE_URL='http://nginx:8080/api/internal/v1/communication/gateway/media'
WAZYNC_HMAC_KEY_ID='SUBSTITUA'
WAZYNC_HMAC_SECRET='SUBSTITUA_POR_NO_MINIMO_32_BYTES'
WAZYNC_HMAC_PREVIOUS_KEY_ID=''
WAZYNC_HMAC_PREVIOUS_SECRET=''
WAZYNC_DATA_KEY='SUBSTITUA_POR_32_BYTES_EM_BASE64'
WAZYNC_HMAC_WINDOW=5m
WAZYNC_NONCE_TTL=10m
WAZYNC_SESSION_CAPACITY=250
WAZYNC_LEASE_TTL=2m
WAZYNC_HEARTBEAT_EVERY=10s
WAZYNC_MEDIA_MAX_BYTES=20971520
WAZYNC_WHATSAPP_CONNECT_TIMEOUT=20s
WAZYNC_WHATSAPP_READY_TIMEOUT=30s
WAZYNC_WHATSAPP_HTTP_TIMEOUT=45s
WAZYNC_WHATSAPP_PROXY_URL=''
WAZYNC_WHATSAPP_RETRY_HANDLERS=4
